In [4]:
import os
import pandas as pd

# Specify the directory containing your CSV files
directory_path = 'D:\scrape'

# Get a list of all CSV files in the directory
csv_files = [file for file in os.listdir(directory_path) if file.endswith('.csv')]

# Create an empty DataFrame to store the concatenated data
concatenated_df = pd.DataFrame()

# Iterate through each CSV file and concatenate its data to the main DataFrame
for csv_file in csv_files:
    file_path = os.path.join(directory_path, csv_file)
    df = pd.read_csv(file_path)
    concatenated_df = pd.concat([concatenated_df, df], ignore_index=True)

# Choose a different output directory (e.g., user's home directory)
output_file_path = os.path.expanduser('D:\scrape\concatenated_data.csv')

# Save the concatenated DataFrame to a new CSV file
concatenated_df.to_csv(output_file_path, index=False)

print("Concatenation completed. Output saved to:", output_file_path)

Concatenation completed. Output saved to: D:\scrape\concatenated_data.csv

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('concatenated_data.csv')
df.head()

,Unnamed: 0,name,price,dispaly_size,display_resolution,dispaly_res_type,os,processor_brand,processor_type,processor_core,connectivity_feature,battery,camrea,ram,internal_storgar
0,0,"Google Pixel 7 Pro (Obsidian, 128 GB) (12 GB ...","₹65,999",17.02 cm (6.7 inch),3120 x 1440 Pixels,Quad HD+,Android 13,Google,Google Tensor G2,2G GSM/EDGE: Quad Band (850/900/1800/1900 MHz)...,"5G, 4G, 3G, 2G",4926 mAh,50MP + 48MP + 12MP | 10.8MP Front Camera,12 GB,128 GB
1,1,"Google Pixel 7a (Coral, 128 GB) (8 GB RAM)","₹39,999",15.49 cm (6.1 inch),2400 x 1080 Pixels,Full HD+,Android 13,Google,Tensor G2,"2G GSM: 850 MHz/900 MHz/1800 MHz/1900 MHz, 3G ...",5G,4300 mAh,64MP (OIS) + 13MP | 13MP Front Camera,8 GB,128 GB
2,2,"Google Pixel 7a (Charcoal, 128 GB) (8 GB RAM)","₹39,999",15.49 cm (6.1 inch),2400 x 1080 Pixels,Full HD+,Android 13,Google,Tensor G2,"2G GSM: 850 MHz/900 MHz/1800 MHz/1900 MHz, 3G ...",5G,4300 mAh,64MP (OIS) + 13MP | 13MP Front Camera,8 GB,128 GB
3,3,"Google Pixel 7a (Snow, 128 GB) (8 GB RAM)","₹39,999",15.49 cm (6.1 inch),2400 x 1080 Pixels,Full HD+,Android 13,Google,Tensor G2,"2G GSM: 850 MHz/900 MHz/1800 MHz/1900 MHz, 3G ...",5G,4300 mAh,64MP (OIS) + 13MP | 13MP Front Camera,8 GB,128 GB
4,4,"Google Pixel 7 (Obsidian, 128 GB) (8 GB RAM)","₹46,999",16.0 cm (6.3 inch),2400 x 1080 Pixels,Full HD+,Android 13,Google,Google Tensor G2,2G GSM/EDGE: Quad Band (850/900/1800/1900 MHz)...,"5G, 4G, 3G, 2G",4270 mAh,50MP + 12MP | 10.8MP Front Camera,8 GB,128 GB

In [7]:
df.shape

(5910, 15)

In [8]:
df.isnull().sum()

Unnamed: 0                 0
name                       0
price                      0
dispaly_size               0
display_resolution         0
dispaly_res_type        1146
os                         0
processor_brand          267
processor_type            18
processor_core            84
connectivity_feature       0
battery                    0
camrea                     0
ram                        0
internal_storgar           0
dtype: int64

In [9]:
df.duplicated().sum()

3943

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1967 entries, 0 to 1969
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1967 non-null   int64
 1   name                  1967 non-null   object
 2   price                 1967 non-null   object
 3   dispaly_size          1967 non-null   object
 4   display_resolution    1967 non-null   object
 5   dispaly_res_type      1587 non-null   object
 6   os                    1967 non-null   object
 7   processor_brand       1878 non-null   object
 8   processor_type        1961 non-null   object
 9   processor_core        1939 non-null   object
 10  connectivity_feature  1967 non-null   object
 11  battery               1967 non-null   object
 12  camrea                1967 non-null   object
 13  ram                   1967 non-null   object
 14  internal_storgar      1967 non-null   object
dtypes: int64(1), object(14)
memory usage: 245.9+ KB

In [12]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [13]:
import pandas as pd

# Assuming df is your DataFrame
# Replace df with your actual DataFrame

# Create a new DataFrame containing only rows with null values
df_with_null = df[df.isnull().any(axis=1)]

# Display the DataFrame with rows having null values
print("DataFrame with rows having null values:")
df_with_null

DataFrame with rows having null values:

,name,price,dispaly_size,display_resolution,dispaly_res_type,os,processor_brand,processor_type,processor_core,connectivity_feature,battery,camrea,ram,internal_storgar
23,"MI 11X 5G (CELESTIAL SILVER, 128 GB) (6 GB RAM)","₹24,999",16.94 cm (6.67 inch),1080 x 2400$$pixels,NaN,Android Nougat 11,Huawei,Octa Core,3.2 GHz,"4G VOLTE, 5G",4520 mAh,48MP Rear Camera,6 GB,128 GB
31,"Honor 90 5G (Diamond Silver, 256 GB) (8 GB RAM)","₹25,890",17.02 cm (6.7 inch),1200 x 2664 pixels,NaN,"Android Android 13.0, Tiramisu",Qualcomm,Octa Core,120 GHz,5G,5000 mAh,200MP Rear Camera,8 GB,256 GB
32,"Honor 90 5G (Emerald Green, 512 GB) (12 GB RAM)","₹27,790",17.02 cm (6.7 inch),1200 x 2664 pixels,NaN,"Android Android 13.0, MagicOS 7.1",Qualcomm,Octa Core,120 MHz,5G,5000 mAh,200MP Rear Camera,12 GB,512 GB
33,"Honor 90 5G (Midnight Black, 512 GB) (12 GB RAM)","₹28,880",17.02 cm (6.7 inch),1200 x 2664 pixels,NaN,"Android Android 13.0, MagicOS 7.1",Qualcomm,Octa Core,120 MHz,5G,5000 mAh,200MP Rear Camera,12 GB,512 GB
36,"Honor 90 5G (Midnight Black, 256 GB) (8 GB RAM)","₹33,999",17.02 cm (6.7 inch),1200 x 2664 pixels,NaN,"Android Android 13.0, MagicOS 7.1",Qualcomm,Octa Core,120 MHz,5G,5000 mAh,200MP Rear Camera,8 GB,256 GB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953,"Redmi 9A Sport (Coral Green, 32 GB) (3 GB RAM)","₹8,333",16.59 cm (6.53 inch),1600 x 720 pixel,NaN,Android Q 10,Mediatek,Octa Core,2 GHz,"4G VOLTE, 4G",5000 mAh,13MP Rear Camera,3 GB,32 GB
1954,"Redmi 9A Sport (Carbon Black, 32 GB) (3 GB RAM)","₹7,990",16.59 cm (6.53 inch),1600 x 720 pixel,NaN,Android Q 10,Mediatek,Octa Core,2 GHz,"4G VOLTE, 4G",5000 mAh,13MP Rear Camera,3 GB,32 GB
1955,"Redmi 9A Sport (Carbon Black, 32 GB) (2 GB RAM)","₹7,790",16.59 cm (6.53 inch),720 x 1600 pixel,NaN,Android Q 10,Mediatek,Octa Core,2 GHz,"4G VOLTE, 4G",5000 mAh,13MP Rear Camera,2 GB,32 GB
1960,"REDMI A2+ (?Aqua Blue, 64 GB) (4 GB RAM)","₹7,999",16.56 cm (6.52 inch),1600x720$$Pixels,NaN,Android Android 13,Mediatek,Octa Core,2.2 GHz,4G VOLTE,5000 mAh,8MP Rear Camera,4 GB,64 GB
1967,"REDMI 10 Prime 2022 (Phantom Black, 64 GB) (4...","₹9,990",16.51 cm (6.5 inch),2400x1080,NaN,Android Q Android Q 12.5,Mediatek,Octa Core,2 GHz,4G VOLTE,6000 mAh,50MP Rear Camera,4 GB,64 GB

In [14]:
df.dropna(inplace=True)

In [15]:
df.shape

(1553, 14)

In [16]:
df.isnull().sum()

name                    0
price                   0
dispaly_size            0
display_resolution      0
dispaly_res_type        0
os                      0
processor_brand         0
processor_type          0
processor_core          0
connectivity_feature    0
battery                 0
camrea                  0
ram                     0
internal_storgar        0
dtype: int64

In [17]:
df["mobile_brand"] = df['name'].apply(lambda x:x.split(" ")[0])

In [18]:
df.sample()

,name,price,dispaly_size,display_resolution,dispaly_res_type,os,processor_brand,processor_type,processor_core,connectivity_feature,battery,camrea,ram,internal_storgar,mobile_brand
116,"Honor 4C (Gold, 8 GB) (2 GB RAM)","₹9,499","Quick Start Guide, Charger, USB Cable, Handset",CHM-U01,4C,12.7 cm (5 inch),1280 x 720 Pixels,HD,Mali-450 MP4,3G,2550 mAh,13MP Rear Camera | 5MP Front Camera,2 GB,8 GB,Honor

# price

In [19]:
df['price']

0       ₹65,999
1       ₹39,999
2       ₹39,999
3       ₹39,999
4       ₹46,999
         ...
1964    ₹13,999
1965     ₹6,690
1966    ₹47,999
1968    ₹24,999
1969    ₹10,999
Name: price, Length: 1553, dtype: object

In [20]:
df['price'] = df['price'].apply(lambda x:x.replace(",",""))
df['price'] = df['price'].apply(lambda x:x.replace("₹",""))

In [21]:
df['price'] = df['price'].astype('Int32')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1553 entries, 0 to 1969
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  1553 non-null   object
 1   price                 1553 non-null   Int32
 2   dispaly_size          1553 non-null   object
 3   display_resolution    1553 non-null   object
 4   dispaly_res_type      1553 non-null   object
 5   os                    1553 non-null   object
 6   processor_brand       1553 non-null   object
 7   processor_type        1553 non-null   object
 8   processor_core        1553 non-null   object
 9   connectivity_feature  1553 non-null   object
 10  battery               1553 non-null   object
 11  camrea                1553 non-null   object
 12  ram                   1553 non-null   object
 13  internal_storgar      1553 non-null   object
 14  mobile_brand          1553 non-null   object
dtypes: Int32(1), object(14)
memory usage: 189.6+ KB

# ram and internal storage

In [23]:
df['ram'].value_counts()

8 GB      455
4 GB      396
6 GB      327
3 GB      127
12 GB     120
2 GB      117
1 GB        7
16 GB       3
512 MB      1
Name: ram, dtype: int64

In [24]:
df['internal_storgar'].value_counts()

128 GB    706
64 GB     341
256 GB    261
32 GB     157
16 GB      44
512 GB     29
8 GB       12
4 GB        2
1 TB        1
Name: internal_storgar, dtype: int64

In [25]:
df[df['ram'] == "512 MB"]

,name,price,dispaly_size,display_resolution,dispaly_res_type,os,processor_brand,processor_type,processor_core,connectivity_feature,battery,camrea,ram,internal_storgar,mobile_brand
85,"Huawei Ascend Y600 (White, 4 GB) (512 MB RAM)",9990,12.7 cm (5 inch),480 x 854 Pixels,FWVGA,Android Jelly Bean 4.2,MediaTek MT6572,Dual Core,1.3 GHz,3G,2100 mAh,5MP Rear Camera | 0.3MP Front Camera,512 MB,4 GB,Huawei

In [26]:
df[df['internal_storgar'] == "1 TB"]

,name,price,dispaly_size,display_resolution,dispaly_res_type,os,processor_brand,processor_type,processor_core,connectivity_feature,battery,camrea,ram,internal_storgar,mobile_brand
1558,"SAMSUNG Galaxy S24 Ultra 5G (Titanium Gray, 1 ...",159999,17.27 cm (6.8 inch),3120 x 1440 Pixels,Quad HD+,Android 14,Snapdragon,Snapdragon 8 Gen 3,Octa Core,"5G, 4G, 3G, 2G",5000 mAh,200MP + 50MP + 12MP + 10MP | 12MP Front Camera,12 GB,1 TB,SAMSUNG

In [27]:
df.drop(index=85,inplace=True)

In [28]:
df.drop(index=1397,inplace=True)

In [29]:
df['ram'].value_counts()

8 GB     454
4 GB     396
6 GB     327
3 GB     127
12 GB    120
2 GB     117
1 GB       7
16 GB      3
Name: ram, dtype: int64

In [30]:
df['internal_storgar'].value_counts()

128 GB    706
64 GB     341
256 GB    260
32 GB     157
16 GB      44
512 GB     29
8 GB       12
4 GB        1
1 TB        1
Name: internal_storgar, dtype: int64

In [31]:
df[df['internal_storgar'] == "1 TB"]

,name,price,dispaly_size,display_resolution,dispaly_res_type,os,processor_brand,processor_type,processor_core,connectivity_feature,battery,camrea,ram,internal_storgar,mobile_brand
1558,"SAMSUNG Galaxy S24 Ultra 5G (Titanium Gray, 1 ...",159999,17.27 cm (6.8 inch),3120 x 1440 Pixels,Quad HD+,Android 14,Snapdragon,Snapdragon 8 Gen 3,Octa Core,"5G, 4G, 3G, 2G",5000 mAh,200MP + 50MP + 12MP + 10MP | 12MP Front Camera,12 GB,1 TB,SAMSUNG

In [32]:
df.drop(index=1558,inplace=True)

In [33]:
df['internal_storgar']

0       128 GB
1       128 GB
2       128 GB
3       128 GB
4       128 GB
         ...
1964     64 GB
1965     32 GB
1966    128 GB
1968    128 GB
1969     64 GB
Name: internal_storgar, Length: 1550, dtype: object

In [34]:
df['ram'] = df['ram'].apply(lambda x:x.replace("GB",''))
df['internal_storgar'] = df['internal_storgar'].apply(lambda x:x.replace("GB",''))

In [35]:
df['ram'] = df['ram'].astype('Int32')
df['internal_storgar'] = df['internal_storgar'].astype('Int32')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1550 entries, 0 to 1969
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  1550 non-null   object
 1   price                 1550 non-null   Int32
 2   dispaly_size          1550 non-null   object
 3   display_resolution    1550 non-null   object
 4   dispaly_res_type      1550 non-null   object
 5   os                    1550 non-null   object
 6   processor_brand       1550 non-null   object
 7   processor_type        1550 non-null   object
 8   processor_core        1550 non-null   object
 9   connectivity_feature  1550 non-null   object
 10  battery               1550 non-null   object
 11  camrea                1550 non-null   object
 12  ram                   1550 non-null   Int32
 13  internal_storgar      1550 non-null   Int32
 14  mobile_brand          1550 non-null   object
dtypes: Int32(3), object(12)
memory usage: 180.1+ KB

# Display size

In [37]:
df['dispaly_size']

0        17.02 cm (6.7 inch)
1        15.49 cm (6.1 inch)
2        15.49 cm (6.1 inch)
3        15.49 cm (6.1 inch)
4         16.0 cm (6.3 inch)
                ...
1964      16.0 cm (6.3 inch)
1965    13.84 cm (5.45 inch)
1966    16.94 cm (6.67 inch)
1968     16.76 cm (6.6 inch)
1969     17.02 cm (6.7 inch)
Name: dispaly_size, Length: 1550, dtype: object

In [38]:
df.shape

(1550, 15)

In [39]:
df['dispaly_size'] = df['dispaly_size'].apply(lambda x:x.split(" ")[2])

In [40]:
df['dispaly_size_in_inches'] = df['dispaly_size'].apply(lambda x:x.replace("(",""))

In [41]:
df.shape

(1550, 16)

In [42]:
df['dispaly_size_in_inches'] = pd.to_numeric(df['dispaly_size_in_inches'], errors='coerce')

In [43]:
df = df[~df['dispaly_size_in_inches'].isna()]

In [44]:
df.drop(columns=['dispaly_size'],axis=0,inplace=True)

In [45]:
df.sample()

,name,price,display_resolution,dispaly_res_type,os,processor_brand,processor_type,processor_core,connectivity_feature,battery,camrea,ram,internal_storgar,mobile_brand,dispaly_size_in_inches
1869,"REDMI 12C (Royal Blue, 128 GB) (4 GB RAM)",8684,1650 x 720 Pixels,HD+,Android 12,Mediatek,Helio G85,Octa Core,"4G, 3G, 2G",5000 mAh,50MP Rear Camera | 5MP Front Camera,4,128,REDMI,6.71

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1511 entries, 0 to 1969
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    1511 non-null   object
 1   price                   1511 non-null   Int32
 2   display_resolution      1511 non-null   object
 3   dispaly_res_type        1511 non-null   object
 4   os                      1511 non-null   object
 5   processor_brand         1511 non-null   object
 6   processor_type          1511 non-null   object
 7   processor_core          1511 non-null   object
 8   connectivity_feature    1511 non-null   object
 9   battery                 1511 non-null   object
 10  camrea                  1511 non-null   object
 11  ram                     1511 non-null   Int32
 12  internal_storgar        1511 non-null   Int32
 13  mobile_brand            1511 non-null   object
 14  dispaly_size_in_inches  1511 non-null   float64
dtypes: Int32(3), float64(1), object(11)
memory usage: 175.6+ KB

# dispaly_res_type

In [47]:
to_drop1 = df[df['dispaly_res_type'] == "Adreno GPU A710"].index
df.drop(index=to_drop1,inplace=True,axis=1)

In [48]:
df.shape

(1495, 15)

In [49]:
to_drop2 = df[df['dispaly_res_type'] == "Adreno GPU A710"].index
df.drop(index=to_drop2,inplace=True,axis=1)

In [50]:
df.shape

(1495, 15)

In [51]:
to_drop3 = df[df['dispaly_res_type'] == "ARM G610 MC4 "].index
df.drop(index=to_drop3,inplace=True,axis=1)

In [52]:
names = [
    'TFT',
    'IMG 8322',
    '16.55cm (6.5") HD+ Infinity-V Display',
    'Adreno GPU 512',
    '16M',
    '16.7M',
    'Adreno 640',
    'Adreno 630',
    'Mali-G57',
    'ARM Mali-G57 MC2',
    'FWVGA',
    'Adreno 616',
    'Adreno GPU 610',
    'TFT-LCD',
    'Adreno 610',
    'ARM G610 MC4'
]

In [53]:
to_drop4 = []
for name in names:
    to_drop4.append(df[df['dispaly_res_type'] == name ].index)

In [54]:
for i in to_drop4:
    df.drop(index=i,axis=1,inplace=True)

In [55]:
to_drop5 = df[df['dispaly_res_type'] == "Yes"].index
df.drop(index=to_drop5,inplace=True,axis=True)

In [56]:
value_count = df['dispaly_res_type'].value_counts()
top_5 = value_count.head(5)

In [57]:
df['dispaly_res_type'] = df['dispaly_res_type'].apply(lambda x: x if x in top_5 else "other")

In [58]:
top_5

Full HD+                   694
HD+                        466
Full HD+ AMOLED Display    104
HD                          48
Full HD                     32
Name: dispaly_res_type, dtype: int64

In [59]:
df['dispaly_res_type'].value_counts()

Full HD+                   694
HD+                        466
Full HD+ AMOLED Display    104
other                       95
HD                          48
Full HD                     32
Name: dispaly_res_type, dtype: int64

# display resoultion 🟥🟥

In [60]:
df['display_resolution']

0       3120 x 1440 Pixels
1       2400 x 1080 Pixels
2       2400 x 1080 Pixels
3       2400 x 1080 Pixels
4       2400 x 1080 Pixels
               ...
1964    2340 x 1080 pixels
1965     720 x 1440 Pixels
1966    2400 x 1080 Pixels
1968    2460 x 1080 Pixels
1969     1650 x 720 Pixels
Name: display_resolution, Length: 1439, dtype: object

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1439 entries, 0 to 1969
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    1439 non-null   object
 1   price                   1439 non-null   Int32
 2   display_resolution      1439 non-null   object
 3   dispaly_res_type        1439 non-null   object
 4   os                      1439 non-null   object
 5   processor_brand         1439 non-null   object
 6   processor_type          1439 non-null   object
 7   processor_core          1439 non-null   object
 8   connectivity_feature    1439 non-null   object
 9   battery                 1439 non-null   object
 10  camrea                  1439 non-null   object
 11  ram                     1439 non-null   Int32
 12  internal_storgar        1439 non-null   Int32
 13  mobile_brand            1439 non-null   object
 14  dispaly_size_in_inches  1439 non-null   float64
dtypes: Int32(3), float64(1), object(11)
memory usage: 167.2+ KB

# os

In [62]:
df['os'].value_counts()

Android 13                                                                    362
Android 12                                                                    292
Android 11                                                                    226
Android 10                                                                    157
Android 14                                                                    106
Android Pie 9                                                                  51
Android Pie 9.0                                                                30
Android 13 Go                                                                  30
Android Oreo 8.1                                                               29
Android Nougat 7                                                               11
Android 13 (Go Edition)                                                        11
Android Oreo 8.1.0                                                             11
Android Marshmallow 6                                                          10
Android Oreo 8                                                                 10
Android Q 10                                                                    7
Android Pie 10                                                                  7
Android 12 Go                                                                   7
Android Nougat 7.1.1                                                            5
Android Android 13 Go, Android 13.0                                             5
Android Q 11                                                                    5
Android Lollipop 5.1                                                            4
Android Q Android 12                                                            4
Android KitKat 4.4                                                              4
Q 10                                                                            4
Android Q 12                                                                    3
Android Marshmallow v6.0                                                        3
Android Nougat 7.1                                                              3
Android Marshmallow 6.0.1                                                       3
Android 10 (Go Edition)                                                         3
Android 12 (Go Edition)                                                         3
Android Jelly Bean 4.2                                                          3
Android MIUI 14 With Android 13                                                 2
Android Oreo 8.0                                                                2
Android Nougat 7.1.2                                                            2
Android Q 11.1                                                                  2
Android Lollipop 5.1.1                                                          2
Android Q Android 11                                                            2
Android Oreo 10                                                                 2
Android Android 13, v13.0 Operating System having One UI Core 5.1               2
Android Android 11                                                              2
Android 13.0                                                                    2
Android Android 12                                                              2
Android Q Android 13                                                            1
Android Android 13, v13.0 Operating System having One UI Core 5.1 platform      1
Android Android Oxygen Android 12                                               1
Android Android 13                                                              1
Android Android 13 OxygenOS                                                     1
Android Oxygen Android 12                                                       1
Android Oreo v8.1                                                               1
Android Q Funtouch OS 13 (Based on Android 13)                                  1
Name: os, dtype: int64

In [63]:
def android(s):

    if '10' in s:
        return 'Android 10'
    if '11' in s:
        return 'Android 11'
    if '12' in s:
        return'Android 12'
    if '13' in s:
        return 'Android 13'
    if '14' in s:
        return 'Android 14'
    else:
        return s

In [64]:
df['os'] = df['os'].apply(android)

In [65]:
value_count = df['os'].value_counts()
top_5 = value_count.head(5)

In [66]:
top_5

Android 13    419
Android 12    313
Android 11    237
Android 10    180
Android 14    106
Name: os, dtype: int64

In [67]:
df['os'] = df['os'].apply(lambda x: x if x in top_5 else "other")

In [68]:
df['os'].value_counts()

Android 13    419
Android 12    313
Android 11    237
other         184
Android 10    180
Android 14    106
Name: os, dtype: int64

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1439 entries, 0 to 1969
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    1439 non-null   object
 1   price                   1439 non-null   Int32
 2   display_resolution      1439 non-null   object
 3   dispaly_res_type        1439 non-null   object
 4   os                      1439 non-null   object
 5   processor_brand         1439 non-null   object
 6   processor_type          1439 non-null   object
 7   processor_core          1439 non-null   object
 8   connectivity_feature    1439 non-null   object
 9   battery                 1439 non-null   object
 10  camrea                  1439 non-null   object
 11  ram                     1439 non-null   Int32
 12  internal_storgar        1439 non-null   Int32
 13  mobile_brand            1439 non-null   object
 14  dispaly_size_in_inches  1439 non-null   float64
dtypes: Int32(3), float64(1), object(11)
memory usage: 167.2+ KB

# processor_brand

In [70]:
df['processor_brand'].value_counts()

Mediatek                                                 710
Snapdragon                                               490
Exynos                                                    81
Unisoc                                                    69
HiSilicon                                                 25
Huawei                                                    23
Google                                                    19
Qualcomm                                                   5
Spreadtrum                                                 4
Qualcomm Snapdragon 410 MSM8916                            2
Qualcomm Snapdragon 616 MSM8939V2                          2
MT6582                                                     1
Qualcomm Snapdragon 410 MSM8916 64-bit                     1
0 QualcommÂ Snapdragon 616 MSM8939V2 Octa Core 1.5GHz      1
Octa Core                                                  1
MT6589                                                     1
Cortex-A7                                                  1
Qualcomm Snapdragon                                        1
Mediatek MT6750 Octa Core 1.5 GHz                          1
Mediatek MT6755 or MTK7650                                 1
Name: processor_brand, dtype: int64

In [71]:
info_list = [
    'MT6582',
    'MT6589',
    'Cortex-A7',
    'Octa Core'
]

In [72]:
to_drop4 = []
for name in info_list:
    to_drop4.append(df[df['processor_brand'] == name ].index)

In [73]:
to_drop4

[Int64Index([93], dtype='int64'),
 Int64Index([82], dtype='int64'),
 Int64Index([76], dtype='int64'),
 Int64Index([83], dtype='int64')]

In [74]:
for i in to_drop4:
    df.drop(index=i,axis=1,inplace=True)

In [75]:
def processor(s):
    if 'Mediatek' in s:
        return 'Mediatek'
    if 'Snapdragon'  in s:
        return 'Snapdragon'
    if 'Qualcomm' in s:
        return "Snapdragon"
    else:
        return s

In [76]:
df['processor_brand'] = df['processor_brand'].apply(processor)

In [77]:
df.drop(columns=['processor_core'],axis='columns',inplace=True)

In [78]:
df.drop(columns=['processor_type'],axis='columns',inplace=True)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1435 entries, 0 to 1969
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    1435 non-null   object
 1   price                   1435 non-null   Int32
 2   display_resolution      1435 non-null   object
 3   dispaly_res_type        1435 non-null   object
 4   os                      1435 non-null   object
 5   processor_brand         1435 non-null   object
 6   connectivity_feature    1435 non-null   object
 7   battery                 1435 non-null   object
 8   camrea                  1435 non-null   object
 9   ram                     1435 non-null   Int32
 10  internal_storgar        1435 non-null   Int32
 11  mobile_brand            1435 non-null   object
 12  dispaly_size_in_inches  1435 non-null   float64
dtypes: Int32(3), float64(1), object(9)
memory usage: 144.3+ KB

# connectivity feature

In [80]:
df['connectivity_feature'] = df['connectivity_feature'].apply(lambda x:x.replace('VOLTE',''))

In [81]:
df['connectivity_feature'] = df['connectivity_feature'].apply(lambda x:x.replace('G',''))

In [82]:
df['connectivity_feature'] = df['connectivity_feature'].apply(lambda x:x.replace(',',''))

In [83]:
df['connectivity_feature'] = df['connectivity_feature'].apply(lambda x:x.split(" "))

In [105]:
df['connectivity_feature'].value_counts()

4    847
5    586
2      1
Name: connectivity_feature, dtype: int64

In [85]:
max(l)

'5'

In [86]:
df['connectivity_feature'] = df['connectivity_feature'].apply(lambda x: [int(i) for i in x if i.strip()])

In [87]:
df['connectivity_feature'] = df['connectivity_feature'].apply(lambda x:max(x))

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1435 entries, 0 to 1969
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    1435 non-null   object
 1   price                   1435 non-null   Int32
 2   display_resolution      1435 non-null   object
 3   dispaly_res_type        1435 non-null   object
 4   os                      1435 non-null   object
 5   processor_brand         1435 non-null   object
 6   connectivity_feature    1435 non-null   int64
 7   battery                 1435 non-null   object
 8   camrea                  1435 non-null   object
 9   ram                     1435 non-null   Int32
 10  internal_storgar        1435 non-null   Int32
 11  mobile_brand            1435 non-null   object
 12  dispaly_size_in_inches  1435 non-null   float64
dtypes: Int32(3), float64(1), int64(1), object(8)
memory usage: 144.3+ KB

# battery

In [89]:
df['battery'] = df['battery'].apply(lambda x:x.replace("mAh",''))
df['battery'] = df['battery'].apply(lambda x:x.replace("mAH",''))

In [90]:
df['battery'] = df['battery'].astype('Int32')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1435 entries, 0 to 1969
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    1435 non-null   object
 1   price                   1435 non-null   Int32
 2   display_resolution      1435 non-null   object
 3   dispaly_res_type        1435 non-null   object
 4   os                      1435 non-null   object
 5   processor_brand         1435 non-null   object
 6   connectivity_feature    1435 non-null   int64
 7   battery                 1435 non-null   Int32
 8   camrea                  1435 non-null   object
 9   ram                     1435 non-null   Int32
 10  internal_storgar        1435 non-null   Int32
 11  mobile_brand            1435 non-null   object
 12  dispaly_size_in_inches  1435 non-null   float64
dtypes: Int32(4), float64(1), int64(1), object(7)
memory usage: 140.1+ KB

# camera

In [92]:
df['back_camera']=df['camrea'].apply(lambda x:x.split("|")[0])

In [93]:
import re
import numpy as np

def front_camrea(text):
    #text = "13MP Front Camera"

    pattern = r'(\d+\.?\d*)MP Front Camera'
    match = re.search(pattern, text)
    if match:
        return float(match.group(1))
    else:
        return np.nan

In [94]:
df['front_camera'] = df['camrea'].apply(front_camrea)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1435 entries, 0 to 1969
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    1435 non-null   object
 1   price                   1435 non-null   Int32
 2   display_resolution      1435 non-null   object
 3   dispaly_res_type        1435 non-null   object
 4   os                      1435 non-null   object
 5   processor_brand         1435 non-null   object
 6   connectivity_feature    1435 non-null   int64
 7   battery                 1435 non-null   Int32
 8   camrea                  1435 non-null   object
 9   ram                     1435 non-null   Int32
 10  internal_storgar        1435 non-null   Int32
 11  mobile_brand            1435 non-null   object
 12  dispaly_size_in_inches  1435 non-null   float64
 13  back_camera             1435 non-null   object
 14  front_camera            1325 non-null   float64
dtypes: Int32(4), float64(2), int64(1), object(8)
memory usage: 162.6+ KB

In [96]:
df['back_camera'] = df['back_camera'].apply(lambda x:x.split(' ')[0])

In [97]:
df.drop(index=df[df['back_camera'] == 'Rear'].index,inplace=True)

In [98]:
df['back_camera'] = df['back_camera'].apply(lambda x:x.replace("MP",''))

In [99]:
df['back_camera'] = df['back_camera'].astype('float32')

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1434 entries, 0 to 1969
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    1434 non-null   object
 1   price                   1434 non-null   Int32
 2   display_resolution      1434 non-null   object
 3   dispaly_res_type        1434 non-null   object
 4   os                      1434 non-null   object
 5   processor_brand         1434 non-null   object
 6   connectivity_feature    1434 non-null   int64
 7   battery                 1434 non-null   Int32
 8   camrea                  1434 non-null   object
 9   ram                     1434 non-null   Int32
 10  internal_storgar        1434 non-null   Int32
 11  mobile_brand            1434 non-null   object
 12  dispaly_size_in_inches  1434 non-null   float64
 13  back_camera             1434 non-null   float32
 14  front_camera            1324 non-null   float64
dtypes: Int32(4), float32(1), float64(2), int64(1), object(7)
memory usage: 156.8+ KB

In [101]:
df.drop(columns=['camrea'],axis='columns',inplace=True)

In [103]:
#df.to_csv("phone_data.csv")